@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /**/
  --Very-dark-blue: hsl(217, 54%, 11%);
  --Very-dark-blue: hsl(216, 50%, 16%);
  --Very-dark-blue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*container*/
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(216, 50%, 16%);
  max-width: 23.4375rem;
  border-radius: .7rem;
  padding: 1.35rem;
  margin: 2rem;
}

.image {
  width: 100%;
  border-radius: .7rem;
}

h1 {
  font-size: 1.5rem;
  margin-block: 1.4rem;
}

p {
  color: var(--Soft-blue);
  line-height: 1.7rem;
}

.texts p {
  margin-block: 1rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.375rem;
}

.price>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
  font-size: .8rem;
}

.eth img {
  padding-inline: .3rem;
}

.eth p {
  color: var(--Cyan);
}

.time {
  font-weight: bold;
}

.time img {
  padding-inline: .3rem;
}

.time p {
  color: var(--Soft-blue);
}


.line {
  margin-block: .625rem;
  width: 100%;
  height: .125rem;
  border-radius: .625rem;
  background-color: var(--Very-dark-blue);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: .3rem;
  margin-right: 3.75rem;
}

.profile img {
  width: 2.5rem;
  border-radius: 22.5rem;
  border: .125rem white solid;
  margin-inline-end: .9375rem;
}

.nameColor {
  color: var(--Soft-blue);
  font-weight: 400;
}

/*footer*/
.attribution {
  font-size: .6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
